streamlit
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-groq
langchain-google-genai
chromadb==0.4.24
sentence-transformers
pypdf
python-docx
python-dotenv
groq
tiktoken
faiss-cpu
protobuf<5