streamlit==1.36.0

langchain
langchain-core
langchain-community
langchain-huggingface
langchain-groq
langchain-google-genai

chromadb==0.4.24

sentence-transformers
pypdf
python-docx
docx2txt
python-dotenv

groq
tiktoken
faiss-cpu

numpy==1.26.4
protobuf==4.25.3